#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 110

&mt {
    flavor = "balanced";
    quick-tap-ms = <120>;
    tapping-term-ms = <180>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <120>;
    tapping-term-ms = <180>;
};

&trackball {
//    automouse-layer = <>;
    scroll-layers = <2>;
};

/ {
    combos {
        compatible = "zmk,combos";

        alttabl {
            bindings = <&alt_tab>;
            key-positions = <12 13>;
            slow-release;
            layers = <0 1 2>;
        };

        alttabr {
            bindings = <&alt_tab>;
            key-positions = <18 19>;
            slow-release;
            layers = <0 1 2>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <19 20>;
            layers = <0 1 2>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <23 24>;
            layers = <0 1 2>;
        };

    };

    macros {

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 2 &kp LALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LALT &mo 2>;
            label = "ALT_TAB";
        };

        l0_int4: l0_int4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 0 &kp INT4>;
            label = "l0_int4";
        };

        l0_int5: l0_int5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 0 &kp INT5>;
            label = "l0_int5";
        };

    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W  &kp E    &kp R       &kp T                                         &kp Y          &kp U     &kp I      &kp O    &kp P
&lt 3 A     &kp S  &lt 2 D  &kp F       &kp G            &mkp MB3         &kp LS(N1)  &kp H          &mkp MB1  &lt 2 K    &kp L    &lt 3 J
&mt LGUI Z  &kp X  &kp C    &kp V       &kp B            &kp Y            &tog 1      &kp N          &kp M     &kp COMMA  &kp DOT  &mt LALT MINUS
&l0_int5    &none  &tog 1   &lt 1 BSPC  &mt LCTRL SPACE  &mt LSHFT ENTER  &lt 1 DEL   &mt LSHFT TAB                                &l0_int4
            >;
            sensor-bindings = <&encoder_msc_down_up>;
        };

        layer_1 {
            bindings = <
&kp KP_SLASH     &kp N7  &kp N8    &kp N9  &kp LS(SQT)                     &kp LS(N7)  &kp LS(N2)  &kp RBKT      &kp BSLH    &kp LS(N6)
&lt 3 N0         &kp N4  &lt 2 N5  &kp N6  &kp MINUS     &trans  &kp SEMI  &kp SQT     &trans      &lt 2 LS(N8)  &kp LS(N9)  &lt 3 FSLH
&mt LGUI KP_DOT  &kp N1  &kp N2    &kp N3  &kp LS(SEMI)  &trans  &trans    &kp INT3    &kp LS(N3)  &kp COMMA     &kp DOT     &mt LALT LS(INT1)
&trans           &trans  &trans    &trans  &trans        &trans  &trans    &trans                                            &trans
            >;
            sensor-bindings = <&encoder_msc_down_up>;
        };

        layer_2 {
            bindings = <
&kp LA(F4)  &kp F11          &none   &kp LA(UP)   &none                             &none            &kp LA(UP)            &none &kp F11      &kp LA(F4)
&kp LC(T)   &kp LS(LC(TAB))  &none   &kp LC(TAB)  &kp LS(LG(LEFT))  &trans  &trans  &kp LS(LG(LEFT)) &mt LCTRL LS(LC(TAB)) &none &kp LC(TAB)  &kp LC(T)
&kp LC(W)   &mkp MB3         &none   &none        &none             &trans  &trans  &none            &none                 &none &mkp MB3     &kp LC(W)
&trans      &trans           &trans  &trans       &trans            &trans  &trans  &trans                                                    &trans
            >;
            sensor-bindings = <&encoder_msc_down_up>;
        };

        layer_3 {
            bindings = <
&none   &kp HOME   &kp UP    &kp END        &mkp MB3                                  &mkp MB3   &kp HOME    &kp UP    &kp END    &none
&none   &kp LEFT   &kp DOWN  &kp RIGHT      &kp ENTER  &trans           &trans        &kp ENTER  &kp LEFT    &kp DOWN  &kp RIGHT  &none
&none   &kp PG_UP  &kp F2    &kp PG_DN      &kp K_APP  &trans           &trans        &kp K_APP  &kp PG_UP   &kp F2    &kp PG_DN  &none
&trans  &trans     &trans    &mt LGUI BSPC  &trans     &mt LSHFT ENTER  &mt LGUI DEL  &trans                                      &trans
            >;
            sensor-bindings = <&encoder_msc_down_up>;
        };

    };
};
